{{ define "main" }}

<section class="feature-list section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading">
          <h2>About Us</h2>
        </div>
      </div>
    
    <div class="row mb-40">
      <div class="col-md-6 text-center mb-5 mb-lg-0 align-self-start text-center ">
        <img class="img-fluid" src="/images/renn-bio.jpg" alt="renn">
        <h4 class="subheading" style="margin-top:1em;">Renn (they/them)</h4>
        <p>I knew there were no stories about people like me by the time I turned 4 — an age where I didn’t even understand all of
        what "like me" entails yet! This has since changed and continues to change, with more authors of color, queer authors,
        and authors in translation being published every year. But these books don’t always find their way into the hands of
        people who need them. To all 4-year-old bookworms past and present who have struggled to find yourselves in the pages: I
        started New Suns to bring these books to you.</p>
      </div>
      <div class="col-md-6 text-center mb-5 mb-lg-0 align-self-start text-center">
        <img class="img-fluid" src="/images/gina-bio.jpg" alt="renn">
        <h4 class="subheading" style="margin-top:1em;">Gina (she/her)</h4>
        <p>Someone told me once that one of the greatest feelings is to look at a stack of books and "see yourself as a pile of
          stories." Despite my voracious appetite for books, it was not until finding Min Jin Lee's <i>Pachinko</i> in 2016 that I truly
          saw myself as a story. If ever there were a time for folks to see the beautiful stories they are, it's now. I hope you
          embark on this journey toward new suns with us, and that you find some inspiring stories along the way.</p>
        </div>
      </div>

      </div>
    </div>
  </div>  
</section>

{{ end  }}