<!DOCTYPE html>
<html lang="{{ with site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{- partial "head.html" . -}}

<body id="body">
  {{- partial "preloader.html" . -}}
  {{- partial "header.html" . -}}
  {{- block "main" . }}{{- end }}
  {{- partial "footer.html" . -}}
  <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
  <script>
    kofiWidgetOverlay.draw('newsunsbox', {
      'type': 'floating-chat',
      'floating-chat.donateButton.text': 'Tip Us',
      'floating-chat.donateButton.background-color': '#fcd404',
      'floating-chat.donateButton.text-color': '#323842'
    });
  </script>
</body>

</html>