{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mb-4 mb-md-0">
        <div class="sticky-image">
          <img class="img-fluid w-100" style="margin-top:2em" src="{{ .Params.Image | absURL }}" alt="{{ .Title }}">
        </div>
      </div>
      <div class="col-lg-6 col-md-7 offset-lg-1">
        <h1>{{.Title | markdownify}}</h1>
        {{ with .Params.author }}<h4 class="mb-4">by {{ . }}</h4>{{ end }}
        <h5>{{ partial "tags.html" .}}</h5>
        <div class="content">
          {{.Content}}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}